<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
        <p>Logged in as : {{request.session.name}} </p>
        <p><a href="/friends/">Home</a> | <a href="/main/logout">Logout</a></p>

        <h3>{{user.alias}}'s Profile</h3>
        <p>name : {{user.name}}</p>
        <p>Email Address : {{user.email}}</p>
</body>
</html>